
<div class="wrapper">
    <div class="credit-card-front">
      <div class="credit-card-logo">
        <img src="/assets/mastercard.png" alt="Mastercard Logo">
      </div>
      <div class="credit-card-number">
        <strong>{{dadosCartao.numero || '0000 0000 0000 0000'}}</strong>
      </div>
      <div class="credit-card-data">
        <p class="name">
          {{dadosCartao.nome || 'Nome do Titular'}}
        </p>
        <strong class="expiration-date">
          {{dadosCartao.mes || 'MM'}}/{{dadosCartao.ano || 'AA'}}
        </strong>
      </div>
    </div>
    
    <div class="credit-card-back">
      <div class="line"></div>
      <div class="cvc">
        <strong>
          {{dadosCartao.cvc || '000'}}
        </strong>
      </div>
    </div>
  </div>
  